<div class="form-group formulario">
  <ul class="nav nav-pills">
    <a [routerLink]="['/']" class="pull-right"><i class="glyphicon glyphicon-home"></i> Home</a>
    <li><a [routerLink]="['/app/produto']"><i class="glyphicon glyphicon-barcode"></i> Produto</a></li>
    <li><a [routerLink]="['/app/cliente']"><i class="glyphicon glyphicon-user"></i> Cliente</a></li>
    <li><a [routerLink]="['/app/venda']"><i class="glyphicon glyphicon-credit-card"></i> Venda</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
